header {
    text-align: center;
    font-size: 1.6em;
    .logo {
        width: 250px;
        height: auto;
        margin: auto;
        display: block;
    }
    .nav {
        span {
            margin: 50px;
        }
    }
}
.content {
    margin-top: 150px;
    width: 50%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    th{
        padding: 15px;
        font-size: 20px;
    }
    .test {
        .photos {
            img {
                width: 100px;
                height: auto;
            }
        }
    }
}
table, th, td {
    border: 1px solid lightgray;
}
